
<header>
    <div id="header-menu" class="container">

            <AuthorizeView>
                <Authorized>

                    <a id="silicon-logo" href="/"><img id="silicon-logo-img" src="/images/silicone-logo-light_theme.svg" /></a>

                    <div id="navigation" class="navigation hidden">
                    <NavLink class="menu-link" href="/signout"><p>Sign Out</p> <i class="fa-solid fa-arrow-right-from-bracket"></i></NavLink>

                        <NavLink id="details-link" class="menu-link hidden" href="/account/details">Account Details</NavLink>
                    </div>

                </Authorized>


                <NotAuthorized>
                    <div class="mb-5"></div>
                </NotAuthorized>
            </AuthorizeView>

        <button class="btn-mobile hidden" onclick="toggleMenu()"><i id="btn-mobile-icon" class="fa-solid fa-bars"></i></button>
    </div>

</header>