
<header>
    <div id="header-menu" class="container">

            <AuthorizeView>
                <Authorized>

                    <a id="silicon-logo" href="/"><img id="silicon-logo-img" src="/images/silicone-logo-light_theme.svg" /></a>

                    <div id="navigation" class="navigation hidden">
                        <NavLink class="menu-link" href="/users">Users</NavLink>
                        <NavLink class="menu-link" href="/courses">Courses</NavLink>
                        <NavLink class="menu-link" href="/contact">Newsletter</NavLink>
                        <NavLink id="details-link" class="menu-link" href="/account/details">Account Details</NavLink>
                    </div>

                </Authorized>


                <NotAuthorized>
                    <div class="mb-5"></div>
                </NotAuthorized>
            </AuthorizeView>

        <button class="btn-mobile" onclick="toggleMenu()"><i id="btn-mobile-icon" class="fa-solid fa-bars"></i></button>
    </div>

</header>