
.home-dashboard {

    .container {

        .dashboard-grid {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;

            @include lg {
            }

            .content-box {
                border: 1px solid $gray-400;
                border-radius: 1rem;
                width: 220px;
                height: 220px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    box-shadow: $gray-400 2px 2px 10px;
                }
                
                @include lg {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}
